<div>
  <h2>Latest news</h2>
  {% for post in site.posts limit: 3 %}
    <div class="shadow-lg mb-8 rounded-md">
      {% if post.hero_image %}
        <div class="aspect-w-2 aspect-h-1">
          <img
            src="{{ post.hero_image }}"
            alt="{{ post.title }}"
            class="rounded-t-md w-full h-full object-center object-cover"
          >
        </div>
      {% endif %}
      <div class="p-4">
        <h3>
          <a href="{{ post.url }}" class="underline hover:decoration-dotted">{{ post.title }}</a>
        </h3>
        <p class="my-2">Published: {{ post.date | date: '%b %-d, %Y' }}</p>
        <div class="prose prose-sm">{{ post.excerpt }}</div>
        <div class="flex justify-center py-4">
          <a
            href="{{ post.url }}"
            class="text-action-500 underline hover:decoration-dotted"
            >Read more</a
          >
        </div>
      </div>
    </div>
  {% endfor %}
</div>
