---
layout: default
---

{% include popular-links.html %}

<div
  class="prose prose-lg prose-a:text-action-500 hover:prose-a:text-action-900 hover:prose-a:decoration-dotted"
>
  {{ content }}
</div>

{% if page.sections %} {% include section-links.html %} {% endif %}

<div>{% include block-title.html title="Latest news" %}</div>

<div class="flex flex-col">
  {% for post in site.posts limit:3 %}
  <div class="w-full md:w-1/2 lg:w-1/3 p-4">{% include post-card.html %}</div>
  {% endfor %}
</div>
