<!doctype html>
<html lang="en-GB">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/monokai.css" rel="stylesheet">
    {% seo %}
  </head>
  <body>
    <a href="#main-content" class="skip-link">Skip to main content</a>
    {% include cookie-banner.html %}
    {% include site-wide-alert.html %}

    <div class="container mx-auto p-4 max-w-[76rem]">
      <div>{% include phase-banner.html %}</div>
      <main id="main-content" role="main">
        <h1>{{ page.title }}</h1>

        <div class="my-12">
          {% include status-text.html status=site.data.status.status large=true %}
        </div>

        {% for website in site.data.status.websites %}
          <div class="mb-0 p-4 border border-gray-300 rounded" x-data="{showDescription: false}">
            <div class="flex flex-wrap md:flex-nowrap">
              <span class="block mr-4">
                <button
                  type="button"
                  x-on:click="showDescription = ! showDescription"
                  class="w-8 h-8 p-2 cursor-pointer flex justify-center content-center hover:border hover:border-yellow-500 focus:bg-yellow-500 focus:border-black active:bg-yellow-500 active:border-black"
                >
                  <span x-show="showDescription" class="block w-6 h-6">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="size-6"
                    >
                      <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                    </svg>
                  </span>
                  <span x-show="!showDescription" class="block w-6 h-6">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="size-6"
                    >
                      <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                    </svg>
                  </span>
                </button>
              </span>
              <span class="grow pt-1"> {{ website.name }}</span>
              <span>{% include status-text.html status=website.status %}</span>
            </div>
            <div class="mt-2" x-show="showDescription">
              <p class="text-sm">{{ website.description }}</p>
              <a class="text-sm text-action-500 underline hover:decoration-dotted" href="{{ website.url }}">
                {{- website.url -}}
              </a>
            </div>
          </div>
        {% endfor %}

        {% assign incidents_list = site.data.status.incidents | where: 'highlight', 'yes' | sort: 'start_date' %}

        {% if incidents_list.size > 0 %}
          <h2 class="mt-12">Incidents</h2>

          {% for incident in incidents_list %}
            <div class="mb-6">
              <div class="">
                {% capture name %}
                <h3 class="m-0">{{ incident.name }}</h3>
                {% endcapture %}
                {% include status-text.html status=incident.status text=name large=true %}
              </div>
              <div class="p-4 border border-gray-300 rounded-b">
                <div class="prose">
                  <p>{{ incident.description }}</p>
                  {% for update in incident.updates %}
                    <h4>{{ update.date_time }}</h4>
                    {{ update.description | markdownify }}
                  {% endfor %}
                </div>
              </div>
            </div>
          {% endfor %}
        {% endif %}

        <h2 class="mt-12">Incidents in the past 30 days</h2>

        {% assign incident_dates = site.data.status.incidents | group_by: 'start_date' | sort: 'start_date' %}
        {% for incident_date in incident_dates %}
          {% assign start_date = 'now' | date: '%s' | minus: 2592000 | date: '%s' %}
          {% assign occurrence_date = incident_date.items.first.start_date | date: '%s' %}
          {% if occurrence_date > start_date %}
            <h3>{{ incident_date.items.first.start_date }}</h3>
            <div class="prose mb-4">
              <ul>
                {% for item in incident_date.items %}
                  <li>
                    <p>
                      <strong>{{ item.name }}</strong><br>
                      {{ item.description }}
                    </p>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        {% endfor %}
      </main>
    </div>

    <footer class="bg-gray-200 px-4 pt-16 pb-6 mt-8">
      <div class="container mx-auto p-4 max-w-[76rem]">
        <div class="flex items-center justify-between flex-nowrap">
          <div class="grow"></div>
          <div>
            {% if site.copyright_url != '' %}
              <a href="{{ site.copyright_link }}" class="hover:underline py-4">&copy; {{ site.copyright_name }}</a>
            {% else %}
              <p>&copy; {{ site.copyright_name }}</p>
            {% endif %}
          </div>
        </div>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/doc-cookies@1.1.0/cookies_min.min.js"></script>
    <script src="https://unpkg.com/alpinejs" defer></script>
  </body>
</html>
